<div class="hero">
	<%= image_tag "hero.jpg", class: "img-hero" %>
</div>

<div class="container">
	<div class="row justify-content-center">
		<div class="title-home col-6">
			<h1>Test UX / UI design - Sérany SENG</h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-center">
		<div class="intro d-flex justify-content-center">
			<div class="col-11 dark-box">
				<h2>Bienvenue sur mon site!</h2>
				<p>Celui ci contient quelques présentations de projets UX / UI design <br/>sur lequel je travail ou ai travaillé. <br/>Vous verrez l'évolution des interfaces qui ont tous comme <br/>points de départ un ou plusieurs problématiques et que l'on tente, moi et mes collègues de résoudre ! </p>
			</div>
		</div>
	</div>
</div>