<div class="project1">
	<div class="moodboard">
		<div class="img-moodboard">
			<%= image_tag "p1_moodboard.png", class: "img-fluid" %>
		<div class="container d-flex justify-content-center text-center">
			<div class="text-moodboard">
				<h1>Design system & Wireframe</h1>
				<p>« Il est impossible de tenir un design entre ses mains. Le design n’est pas une chose.<br/>C’est un processus. Un système. Une manière de penser ».</p>
				<em>Bob Gill, Designer</em>
			</div>
		</div>
		</div>
	</div>

	<div class="img-part1">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-7">
					<div class="img-button">
						<%= image_tag "p1_button.svg", class: "img-fluid" %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="part1">
			<div class="row d-flex justify-content-end">
				<div class="col-lg-7 col-md-5 col-sm-6"> 
					<div class="p-1">
						<div class="p-1-text">
							<h2>Introduction à l'atomic design</h2>
							<p>Crée par Brad Frost, l’idée principale est d’<strong>organiser une site</strong> ou <strong>une application</strong>, non plus en tant qu'ensemble de pages mais plûtot comme <strong>un ensemble d'élèments</strong> qui selon comment ils s'associent entre eux définissent <strong>l'affichage et leurs rôles</strong>.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="img-part2">
			<div class="container">
				<div class="row d-flex justify-content-end">
					<div class="col-lg-8 col-md-8">
						<div class="img-text">
							<%= image_tag "p1_text.svg", class: "img-fluid" %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="part2">
			<div class="row">
				<div class="col-lg-4 col-md-4"> 
					<div class="p-2">
						<div class="p-2-text">
							<h2>Hiérarchisation de l'information</h2>
							<p><strong>Définir</strong> des couleurs et des formats de texte selon <strong>leurs rôles</strong> et <strong>leurs importances</strong> permet <strong>suggérer en un clin d'oeil</strong> à l'utilisateur, les <strong>informations</strong> importantes et des <strong>appels à l'action</strong> clair.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="part3-all">
		<div class="img-part3">
			<div class="container d-flex justify-content-center">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="img-text">
							<%= image_tag "p1_wireframe.png", class: "img-fluid" %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="part3">
				<div class="row d-flex justify-content-end">
					<div class="col-lg-4 col-md-4"> 
						<div class="p-3">
							<div class="p-3-text">
								<h2>Une identité</h2>
								<p>A partir d'une recherche graphique, d'une <strong>charte graphique</strong> et surtout de <strong>composants normés</strong>. Quelque soit le support ou la page internet. On <strong>reconnais</strong> instantanément la marque <strong>sans</strong> pour autant <strong>dénaturer</strong> leurs rôles</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	
</div>
